---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  content: {
    image: { src: ImageMetadata; alt: string };
  };
}

const { content } = Astro.props;
---

<div class="hero">
  <div class="hero__inner">
    <div class="hero__visual">
      <Image class="hero__image" src={content.image.src} alt={content.image.alt} />
    </div>
  </div>
</div>

<style lang="scss">
  @use '../styles/mixins' as *;

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 40px 0;
  }

  .hero__inner {
    width: 100%;
    margin: 0 auto;
  }

  .hero__visual {
    width: 100%;
    margin: 0 auto;
  }

  .hero__image {
    height: 100dvh;
    margin: 0 auto;
    padding-bottom: 40px;
    object-fit: cover;
  }
</style>